---
chat:
  - speaker: virgil
    text: |
      Here you'll find media assets (mostly image files) for use in <a target="_none" class="link" href="https://digitalhumanities.nyu.edu">digitalhumanities.nyu.edu</a> and related communications. 
      You can browse, preview, and copy links to the files using the UI below.
  - speaker: virgil
    text: |
      Files can be added, removed, or updated via the <a target="_none" class="link" href="https://github.com/nyu-dh/website-media">nyu-dh/website-media</a> repository. 
      Anything uploaded into one of the sub folders of <a target="_none" href="https://github.com/nyu-dh/website-media/tree/main/media" class="link"><code>/media</code></a> will show up here.
  - speaker: rhadamanthus
    show_label: true
    text: |
      Pssst! Best avoid spaces, special characters, and capital letters in filenames! 
      Underscores (e.g., <code>2024_banner_amazing.png</code>) are advised if words need to be broken up.
  - speaker: virgil 
    show_label: true
    text: |
      Have additonal questions? Check the README of the <a target="_none" class="link" href="https://github.com/nyu-dh/website#nyu-digital-humanities">nyu-dh/website</a> repo or head to Slack.
types:
  - label: banners
    key: banner
  - label: icons
    key: icon
  - label: news
    key: news
  - label: people
    key: people
  - label: projects
    key: project
---
{% assign media = site.static_files | where: 'media', true %}

<!DOCTYPE html>
<html data-theme="dim" lang="en">
  <head>
    <title>nyu dh — asset repository ui</title>
    <link rel="icon" href="{{ 'media/misc/virgil.png' | relative_url }}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- CONTAINER -->
    <div class="container mx-auto lg:px-36 my-8 w-full">
      <!-- NAVBAR-->
      <nav class="navbar">
        <div class="flex-1 flex flex-wrap">
          <a href="https://github.com/nyu-dh/website-media" target="_none" class="text-2xl btn btn-accent mb-2 mr-4">
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
            nyu-dh/website-media
          </a>
          <h1 class="mx-2 text-xl font-mono">asset repository ui</h1>
        </div>
        <div class="flex-none">
          <label class="swap swap-rotate" aria-label="Toggle light mode">
            <input type="checkbox" class="theme-controller" value="lemonade" />
            <svg class="swap-on fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
            <svg class="swap-off fill-current w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
          </label>
        </div>
      </nav>
      <!-- END NAVBAR-->

      <!-- MAIN -->
      <main>
        <!-- CHAT -->
        <div class="my-8 mx-2 max-w-4xl text-sm">
          <!-- SUMMARY -->
          <details class="m-2 collapse collapse-plus border border-neutral-content">
            <summary class="collapse-title">
              <div class="chat chat-start max-w-2xl">
                <div class="chat-header text-xs opacity-50 pb-2">
                  Virgil
                </div>
                <div class="chat-image avatar">
                  <div class="w-10 rounded-full border border-primary">
                    <img alt="Virgil" src="{{ 'media/misc/virgil.png' | relative_url }}" />
                  </div>
                </div>
                <div class="chat-bubble chat-bubble-primary">
                  <p class="py-1">Welcome!<br>...</p>
                </div>
              </div>
            </summary>
            <!-- END SUMMARY -->

            <div class="collapse-content">
              {% for bubble in page.chat %}
                {% if bubble.speaker == 'virgil' %}
                  <div class="chat chat-start">
                    {% if bubble.show_label %}
                      <div class="chat-header text-xs opacity-50 pb-2">Virgil</div>
                    {% endif %}
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full border border-primary">
                        <img alt="Virgil" src="{{ 'media/misc/virgil.png' | relative_url }}" />
                      </div>
                    </div>
                    <div class="chat-bubble chat-bubble-primary">
                      <p class="py-1">
                        {{ bubble.text }}
                      </p>
                    </div>
                  </div>
                {% else %}
                  <div class="chat chat-end">
                    {% if bubble.show_label %}
                      <div class="chat-header text-xs opacity-50 pb-2">Rhadamanthus</div>
                    {% endif %}
                    <div class="chat-image avatar">
                      <div class="w-10 rounded-full border border-warning">
                        <img alt="Rhadamanthus" src="{{ 'media/misc/rhadamanthus.jpg' | relative_url }}" />
                      </div>
                    </div>
                    <div class="chat-bubble chat-bubble-warning opacity-70">
                      <p class="py-1">
                        <i>{{ bubble.text }}</i>
                      </p>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </details>
          <!-- END CHAT -->

          <!-- FILE BROWSE -->
          <div class="flex flex-wrap my-6">
          {% for group in page.types %}
          {% assign files = media | where: group.key, true %}
          <div class="m-3 min-w-80">
            <details class="collapse bg-base-200">
              <summary class="collapse-title text-2xl font-medium">
                <h2>📂 {{ group.label }}</h2>
              </summary>
              <div class="collapse-content"> 
                {% for file in files %}
                  <details class="collapse collapse-arrow">
                    <summary class="collapse-title link link-secondary min-h-0 py-1">{{ file.path }}</summary>
                    <div class="collapse-content">
                      <a href="{{ file.path | relative_url }}" target="_none">
                        <img alt="preview of upload" class="max-w-48" src="{{ file.path | relative_url }}"/>
                      </a>
                    </div>
                  </details>
                {% endfor %}
              </div>
            </details>
          </div>
          {% endfor %}
        </div>
        <!-- END FILE BROWSE -->
      </main>
      <!-- END MAIN -->
    </div>
    <!-- END CONTAINER -->
  </body>
</html>